---
layout: default
---

<div class="jumbotron jumbotron-fluid bg-dark banner">
  
  <div class="jumbotron-background">
    <img src="{{ site.baseurl }}/assets/background.jpg" class="blur" />
  </div>

  <div class="container text-white">
    <div class="page-heading">
      <h1>{{ site.title }}</h1>
      <hr class="small">
      <span class="page-subheading">{{ site.description | markdownify  }}</span>

      <span class="page-subheading">
      {% if site.is_github_public %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
      {% if site.arxiv %}
      <a href="{{ site.arxiv }}" class="btn">View on arXiv</a>
      {% endif %}
      </span>

    </div>
  </div>
</div>

<div class="container-md main-content">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">

    {% capture my_include %}{% include_relative README.md %}{% endcapture %}
    {{ my_include | markdownify }}

    </div>
  </div>
</div>